# Default ignored files
/shelf/
/workspace.xml
# Ignorar archivos compilados de Java
*.class

# Ignorar carpetas de compilación
bin/
out/
.vscode/

# Archivos de configuración de IntelliJ (¡No subir nunca!)
.idea/
*.iml
out/
target/
*.class